#github incorectly thinking the project is in html and tex from build folder
#, this makes it ignored

*.toc linguist-vendored
*.pyc linguist-vendored
*.pkg linguist-vendored
*.html linguist-vendored
